html,
body,
#root > div
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.columnLeft {
    float: left;
    width: 70%;
    height: 100%;
  }
  .columnRight {
    float: left;
    width: 30%;
    height: 100%;
    background: #00000088;
  }
  
.panel
{
    
    position: relative; 
    width: 100%;
    height: 100%;
    padding-left: 10px;
} 



.playground-container {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #efefef;
  flex-direction: column;
  max-height: 100vh;
}
.sub-button{
  background-color: blue;
  color: white;
  font-size: 16px;
  width: 50%;
  text-align: center;
}
.center-button-container {
  text-align: center;
  display: flex;
  align-items: center; /* Center items horizontally */
  margin-top: 10px; 
  margin-bottom: 10px; 
  flex-direction: column;
}



.playground-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  color:grey;
}


.cm-outer-container {
  flex: 1;
}

.cm-editor {
  flex: 1;
  height: 100%;
  position: relative; /* <-- .cm-scroller absolute positioning depends on this*/
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.cm-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
